#board {
  background-image: url("../assets/big_backgammon_enhanced_35pct.png");
  width: 660px;
  height: 472px;
  position: relative;
  padding: 10px;
  padding-top: 20px;
  z-index: 9999;
  border: solid 2px white;
  border-radius: 25px;
}

.piece {
  user-select: none;
  cursor: grab;

  width: 36px;
  height: 36px;
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  left: 6px;
  top: 6px;
  box-shadow: 0 0 0 1px #888;
}

.piece-number-overlay {
  position: absolute;
  width: 36px; /* Match the piece size */
  height: 36px;
  line-height: 36px; /* Centers the number vertically */
  text-align: center; /* Centers the number horizontally */
  font-size: 20px;
  font-weight: bold;
  color: grey;
  pointer-events: none; /* Allows clicks to pass through to the piece */
  background: transparent;
}

.piece:active {
  cursor: grabbing;
}
